.c-01 {
	color: $nk-color-01;
}

.c-02 {
	color: $nk-color-02;
}

.c-03 {
	color: $nk-color-03;
}

.c-04 {
	color: $nk-color-04;
}

.c-black {
	color: $black;
}

.c-white {
	color: $white;
}

.c-h-white {
	&:hover {
		color: $white;
	}
}

.c-link-white {
	color: $white;

	&:hover,
	&:visited,
	&:active,
	&:focus {
		color: $white;
	}

}