@font-face {
    font-family: 'manual_grotesk_a5';
    src: url('../fonts/manualgroteska-5-webfont.woff2') format('woff2'),
         url('../fonts/manualgroteska-5-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'manual_pozor_roundblack';
    src: url('../fonts/manualpozorround-black-webfont.woff2') format('woff2'),
         url('../fonts/manualpozorround-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}