.footer {
	padding-top: rem-calc( 30 );
	padding-bottom: rem-calc( 16 );
	text-align: center;


	@include breakpoint( medium ) {
		padding-top: rem-calc( 0 );
		padding-bottom: rem-calc( 60 );
		
	}

	@include breakpoint( large ) {
		text-align: left;
		
		p {
			max-width: rem-calc( 450 );
		}
	}
}