.header {
	background-color: $nk-color-01;
	padding-top: rem-calc( 20 );
	padding-bottom: rem-calc( 20 );

	.cell {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__inner {
		justify-content: space-between;
	}

	&--shown-on-scrollup {
		// max-height: 0px;
		// display: none;
		transition: max-height 2s;
		position: fixed;
		top: -500px; //should not be visible on page load
		width: 100%;
		z-index: 1;
		padding-top: rem-calc( 15 );
		padding-bottom: rem-calc( 15 );

		& .header__logo {
			max-width: rem-calc( 80 );
		}

		&.active {
			// display: block;
			// max-height: 100%;
			// transition: max-height 2s;
		}
	}


	@include breakpoint( large ) {
		.cell {
			justify-content: flex-start;
		}

		&__supportbutton {
			&.cell {
				justify-content: flex-end;
			}
		}

		&__logo {
			max-width: rem-calc( 110 );
		}	
	}

	@include breakpoint( xlarge ) {

		&__logo.cell {
			@include xy-cell( 1, $gutter-type: padding );
			margin: 0;
		}

		&__menu.cell {
			@include xy-cell( 9, $gutter-type: padding );
			margin: 0;
		}
		

		&__supportbutton.cell {
			@include xy-cell( 2, $gutter-type: padding );
			margin: 0;
		}
			
	}
}