.nk-hashtaglist {
	@include reset-list;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	&__item {
		margin-right: rem-calc( 16 );
		color: $nk-color-03;

		a {
			color: $nk-color-03;
		}
	}

	@include breakpoint( medium ) {
		margin-top: rem-calc( 30 );
		
		&__item {
			margin-right: rem-calc( 32 );
			font-size: rem-calc( 40 );
		}
	}

	@include breakpoint( large ) {
			
	}
}