.nk-menu {
	@include reset-list();
	flex: 1;

	&__item {
		font-size: rem-calc( 28 ); 
		color: $nk-color-03;
		text-transform: uppercase;
		font-family: $header-font-family;
		text-align: center;
		letter-spacing: rem-calc( 0.5 );
	}

	&__href {
		display: block;
		padding: 5px;
	}

	&-wrapper {
		order: 999;
	}

	@include breakpoint( large ) {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding: rem-calc( 0 40 );

		&-wrapper {
			order: unset;
		}

		&__item {
			font-size: rem-calc( 30 );
		}


		&__href {
			display: block;
			padding: rem-calc( 0 10 );
			line-height: 1.1;
		}
	}

	@include breakpoint( xlarge ) {
		&__item {
			font-size: rem-calc( 32 );
		}

		&__href {
			padding: rem-calc( 0 15 );
		}
	}
}