.nk-logolist {
	@include reset-list;
	margin-bottom: rem-calc( 20 );

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__logo {
		max-width: 50%;
	}
	
	&__href {
		display: flex;
		justify-content: center;
	}

	@include breakpoint( medium ) {
		display: flex;
		flex-flow: row nowrap;

		&__item {
			flex: 0 1 33%;
			justify-content: flex-start;
			min-height: rem-calc( 200 );

			&--full {
				flex-basis: 100%;
			}
		}

		&__href {
			display: block;
		}

		&__logo {
			padding: rem-calc( 0 12 );
			max-width: 100%;

			.nk-logolist__item:first-of-type & {
				padding-left: 0;
			}
		}
	}

	@include breakpoint( large ) {

		&__item {
		}

		&__logo {
		}	
	}
}