.nk-block-grid {

	&--authors {
		.nk-block-grid__thumbnail {
			border: 10px solid transparent;
			border-radius: 50%;
		}
	}

	&__thumbnail {
		margin-bottom: 15px;
	}

	@include breakpoint( medium ) {
		margin-top: rem-calc( 24 );

		&>.cell {
			margin-bottom: rem-calc( 30 );
		}

		&.medium-up-2 > .cell {
			width: calc(50% + 29px);
			align-content: flex-start;
		}


		&--authors {
			.nk-block-grid__thumbnail {
				padding: 0;
				&::before {
					content: '';
				}
			}
		}
	}

	@include breakpoint( large ) {
		&__thumbnail {
			padding: rem-calc( 10 5 0 0 );
		}	
			
	}
}