.supportbutton {
    display: none;
    border: 2px solid $white;
    padding: rem-calc( 10 20 );
    border-radius: rem-calc( 6 );
    background-color: $nk-color-04;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    font-size: rem-calc( 24 );
    white-space: nowrap;
    transition: all 0.25s;

    &:hover {
    	background-color: $white;
    	color: $nk-color-04;
    	transition: all 0.25s;
    }

    &--header {
    	display: block;
        padding: rem-calc( 5 10 );
        font-size: rem-calc( 22 );
    }

    &--sectionbottom {
        display: block;
        position: static;
        margin: rem-calc( 30 ) auto rem-calc( 50 );
    }


	@include breakpoint( medium ) {
        & {
    	    
        }

        &:not(&--header) {
    		display: block;
    		position: absolute;
    	    top: rem-calc( 40 );
    	    right: rem-calc( 50 );
        }
        
        &--sectionbottom:not(&--header) { /* :not(&--header) added due to specificity */
            display: none;            
        }
	}

	@include breakpoint( large ) {
        &--header {
            padding: rem-calc( 10 20 );
            font-size: rem-calc( 24 );
        }
	}

	@include breakpoint( xxlarge ) {
		right: rem-calc( 50 );
			
	}
}