.supportbutton {

	@include breakpoint( medium ) {
			
	}

	@include breakpoint( large ) {
		position: absolute;
	    top: rem-calc( 40 );
	    right: rem-calc( 20 );
	    display: block;
	    border: 2px solid $white;
	    padding: rem-calc( 10 20 );
	    border-radius: rem-calc( 6 );
	    background-color: $nk-color-04;
	    color: $white;
	    text-transform: uppercase;
	    font-size: rem-calc( 24 );
	    transition: all 0.25s;

	    &:hover {
	    	background-color: $white;
	    	color: $nk-color-04;
	    	transition: all 0.25s;
	    }
	}
}