<section id="4-autorske-dvojice" class="section section--color-03">
  <div class="section__inner grid-container grid-x grid-padding-x">
    <div class="medium-12 cell text-center medium-text-left"><h1 class="">4 AUTORKY <br>4 AUTORI</h1></div>        
    {{>_supportbutton}}
  </div>
  <div class="grid-container">
    <h2 class="like-h1 text-center"><span class="c-black">№1</span> ČIERNA OSLAVA</h2>
    <div class="nk-block-grid nk-block-grid--authors grid-x grid-padding-x medium-up-2">
      <div class="cell grid-x grid-padding-x">
        <div class="large-5 cell">
          <div id="autor-michal-hvorecky" class="grid-x">
            <div class="small-5 medium-12 cell"><img src="{{root}}assets/img/portret1.jpg" alt="" class="nk-block-grid__thumbnail"></div>
            <div class="small-6 small-offset-1 medium-offset-0 medium-12 cell">
              <p class="text-center">
                <br>
                <span class="c-black">PÍŠE</span><br>
                MICHAL <br>
                HVORECKÝ
              </p>
            </div>
          </div>
        </div>
        <div class="large-7 cell">
          <p><span class="nk-authorname">MICHAL HVORECKÝ</span> je spisovateľ, publicista a prekladateľ. Od 90-tych rokov neodmysliteľná postava progresívnej línie slovenskej literatúry, autor čitateľsky úspešných poviedkových zbierok a románov. Jeho nedávna próza Trol vyšla v niekoľkých jazykoch a v Nemecku ju zaradili medzi knižné udalosti roka 2018. Z nemeckého jazyka preložil niekoľko úspešných literárnych diel, medzi inými aj Amerického cisára od Martina Pollacka, či komiks Reinharda Kleista Nick Cave. </p>
          <p>Michal zároveň pravidelne komentuje spoločenské dianie, o Slovensku píše aj pre nemecké periodiká. Vlani mu vyšla prvá kniha pre deti Bratislava čarovná metropola, okrem slovenčiny rovno aj vo francúzskom preklade. Tento rok napísal román Tahiti Utópia a komiks Čierna oslava, zároveň pracuje na ďalšej knihe pre deti. Po rodičovskej dovolenke sa v týchto dňoch vracia do vedenia knižnice Goetheho inštitútu, kde pracuje.</p>
        </div>
      </div>
      <div class="cell grid-x grid-padding-x">
        <div class="large-5 cell">
          <div class="grid-x">
            <div class="small-5 medium-12 cell"><img src="{{root}}assets/img/portret2.jpg" alt="" class="nk-block-grid__thumbnail"></div>
            <div class="small-6 small-offset-1 medium-offset-0 medium-12 cell">
              <p class="text-center">
                <br>
                <span class="c-black">KRESLÍ</span><br>
                KLÁRA <br>
                ŠTEFANOVIČOVÁ
              </p>
            </div>
          </div>
          
        </div>
        <div class="large-7 cell">
          <p><span class="nk-authorname">KLÁRA ŠTEFANOVIČOVÁ</span> je študentkou voľnej grafiky na VŠVU v Bratislave. Predtým úspešne skončila Strednú priemyselnú a umeleckú školu v Hodoníne. Absolvovala stáž v Tokiu a anglickom meste Plymouth. Popri voľnej tvorbe, v ktorej dáva prednosť minimalizmu a abstrakcii, sa intenzívne venuje komiksu, ilustrácii a grafickému dizajnu. V komikse často čerpá inšpiráciu z pobytu v Japonsku a z japonskej kultúry.</p>
          <p>Ako výtvarníčka však naďalej hľadá nové prístupy a formy, medzi ktoré možno zaradiť aj práce rôznych formátov a techník. Dôležitým prvkom jej voľnej tvorby, komiksu i ilustrácie býva čiernobiela kresba a opakovanie vzorov, tvarov či štruktúry. Okrem umenia je Klára milovníčkou jazyka, krížoviek a veľmi rada cestuje. Komiks Čierna oslava, ktorý vyšiel tento rok v júli je jej knižný debut.</p>
        </div>
      </div>
    </div>
  </div>





  <div class="grid-container">
    <h2 class="like-h1 text-center"><span class="c-black">№2</span> BEŽNÁ</h2>
    <div class="nk-block-grid nk-block-grid--authors grid-x grid-padding-x medium-up-2">
      <div class="cell grid-x grid-padding-x">
        <div class="large-5 cell">
          <div id="autor-tereza-olhova" class="grid-x">
            <div class="small-5 medium-12 cell"><img src="{{root}}assets/img/portret3.jpg" alt="" class="nk-block-grid__thumbnail"></div>
            <div class="small-6 small-offset-1 medium-offset-0 medium-12 cell">
              <p class="text-center">
                <br>
                <span class="c-black">PÍŠE</span><br>
                TEREZA <br>
                OĽHOVÁ
              </p>
            </div>
          </div>
        </div>
        <div class="large-7 cell">
          <p><span class="nk-authorname">TEREZA OĽHOVÁ</span> vyštudovala scenáristiku na Filmovej a televíznej fakulte VŠMU v Bratislave. Počas štúdia absolvovala ročnú stáž na filmovej škole v Bruseli. V roku 2015 debutovala spolu s Martinou Sľúkovou úspešnou knižkou Inak sa mám fajn. O dva roky neskôr ju spoločne zdramatizovali pre divadelné štúdio L+S, ktoré hru uviedlo. Tereza sa venuje písaniu filmových scenárov a poviedok, televíznej a rozhlasovej tvorbe.</p>
          <p>V roku 2017 napísala scenár ku krátkemu filmu Alexandry Gojdičovej Pomocníci, sestre Márii Kralovič robila dramaturgiu jej animovaného filmu Fifi Fatale. Pre rozhlas napísala Tereza v roku 2016 pôvodnú rozhlasovú hru v cykle Ako to bolo ďalej, podľa diela Jozefa Gregora Tajovského Statky-zmätky. Pravidelne prispieva aj do rozhlasových cyklov Sobotník či Poézia mesta. Toho roku píše scenár pre komiks Bežná.</p>
        </div>
      </div>
      <div class="cell grid-x grid-padding-x">
        <div class="large-5 cell">
          <div class="grid-x">
            <div class="small-5 medium-12 cell"><img src="{{root}}assets/img/portret4.jpg" alt="" class="nk-block-grid__thumbnail"></div>
            <div class="small-6 small-offset-1 medium-offset-0 medium-12 cell">
              <p class="text-center">
                <br>
                <span class="c-black">KRESLÍ</span><br>
                MÁRIA <br>
                KRALOVIČ
              </p>
            </div>
          </div>
          
        </div>
        <div class="large-7 cell">
          <p><span class="nk-authorname">MÁRIA KRALOVIČ</span> vyštudovala Školu úžitkového výtvarníctva v Kremnici a animáciu na VŠMU v Bratislave. Počas štúdia absolvovala stáž na Escola de superior de theatro e cinema v Lisabone a neskôr pokračovala doktorandským štúdiom na VŠMU. Na tej istej škole momentálne pracuje a vyučuje v odbore animácia. Jej posledný film s názvom Fifi Fatale bol za rok 2018 nominovaný na ocenenie Slnko v sieti.</p> 
          <p>Okrem animácie sa Mária vo veľkej miere venuje ilustrácii a dizajnu, kreslí napríklad pre detský časopis Bublina. Za svoju tvorbu získala niekoľko ocenení a jej filmy uvádzali slovenské aj zahraničné festivaly. Ako animátorka sa podieľala aj na tvorbe populárneho detského seriálu Mimi a Líza. Momentálne kreslí komiks Bežná, do ktorého robí ručne aj lettering.</p>
        </div>
      </div>
    </div>
  </div>



  <div class="grid-container">
    <h2 class="like-h1 text-center"><span class="c-black">№3</span> PÉ-ER-DÉ </h2>
    <div class="nk-block-grid nk-block-grid--authors grid-x grid-padding-x medium-up-2">
      <div class="cell grid-x grid-padding-x">
        <div class="large-5 cell">
          <div id="autor-sona-balazova" class="grid-x">
            <div class="small-5 medium-12 cell"><img src="{{root}}assets/img/portret5.jpg" alt="" class="nk-block-grid__thumbnail"></div>
            <div class="small-6 small-offset-1 medium-offset-0 medium-12 cell">
              <p class="text-center">
                <br>
                <span class="c-black">PÍŠE</span><br>
                SOŇA <br>
                BALÁŽOVÁ
              </p>
            </div>
          </div>
        </div>
        <div class="large-7 cell">
          <p><span class="nk-authorname">SOŇA BALÁŽOVÁ</span> vyštudovala dramaturgiu a scenáristiku na Filmovej a televíznej fakulte VŠMU v Bratislave. Po skončení štúdia sa rôznymi formami venuje tvorbe pre deti a mládež. Podľa jej scenára vznikli v roku 2015 pre spoločnosť Lidl dve populárne rozhlasové hry Tri prasiatka a Soľ nad zlato v réžii Roba Horňáka.</p>
          <p>Od roku 2017 jej v časopise Slniečko pravidelne vychádza dobrodružná komiksová séria s názvom Zlatý Zub, ktorú tvorí s Dávidom Marcinom. Jej prvá séria vyšla i v knižnej verzii vo vydavateľstve LIC. V súčasnosti pripravujú pre Slniečko jej tretie pokračovanie plné záhad a stromov.</p>
          <p>Momentálne Soňa pracuje na viacerých projektoch určených deťom. Okrem toho sa vo vydavateľstve Absynt stará o sociálne siete. V roku 2018 spoluzaložila spoločnosť Disco sailing, ktorá sa venuje propagácii, distribúcii a vzdelávaniu v rámci krátkometrážnej audiovizuálnej tvorby, a ako koordinátorka projektu sa spolupodieľa na vzdelávacom projekte Pop Up Film Residency.</p>
        </div>
      </div>
      <div class="cell grid-x grid-padding-x">
        <div class="large-5 cell">
          <div class="grid-x">
            <div class="small-5 medium-12 cell"><img src="{{root}}assets/img/portret6.jpg" alt="" class="nk-block-grid__thumbnail"></div>
            <div class="small-6 small-offset-1 medium-offset-0 medium-12 cell">
              <p class="text-center">
                <br>
                <span class="c-black">KRESLÍ</span><br>
                DÁVID <br>MARCIN
              </p>
            </div>
          </div>
          
        </div>
        <div class="large-7 cell">
          <p><span class="nk-authorname">DÁVID MARCIN</span> je slovenský ilustrátor, komiksový výtvarník a pedagóg. Tvorí prevažne digitálne za pomoci grafických programov. V spolupráci s českým spisovateľom Petrom Měrkom vytvoril grafickú novelu Van Gogh 21.storočia i jej nepriame pokračovanie Van Gogh a úsvit dejín. Obe vyšli aj v zahraničí. Dávid tiež prednedávnom, v spolupráci s Jurajom Čorbom, dokončil rozsiahlu grafickú novelu POLyS, ktorá vyjde v slovenčine na jeseň tohto roku. Okrem toho spolupracuje so scenáristkou Soňou Balážovou na detských komiksových sériách Zlatý zub a Supermária, ktoré vychádzajú v časopise Slniečko. Zlatý zub vyšiel v lete 2019 aj knižne.</p> 
          <p>V týchto dňoch kreslí komiks PÉ ER DÉ a popri tom výtvarne spolupracuje na špeciálnom vydaní magazínu Sóda, venovanému výročiu Nežnej revolúcie. Dávid je tiež spoluzakladateľom občianskeho združenia Pomimo, ktoré sa sústredí na publikovanie komiksového zborníka, výtvarné kurzy a prednášky o komikse a ilustrácii.</p>
        </div>
      </div>
    </div>
  </div>




  <div class="grid-container">
    <h2 class="like-h1 text-center"><span class="c-black">№4</span> UNESENÍ</h2>
    <div class="nk-block-grid nk-block-grid--authors grid-x grid-padding-x medium-up-2">
      <div class="cell grid-x grid-padding-x">
        <div class="large-5 cell">
          <div id="autor-daniel-majling" class="grid-x">
            <div class="small-5 medium-12 cell"><img src="{{root}}assets/img/portret7.jpg" alt="" class="nk-block-grid__thumbnail"></div>
            <div class="small-6 small-offset-1 medium-offset-0 medium-12 cell">
              <p class="text-center">
                <br>
                <span class="c-black">PÍŠE</span><br>
                DANIEL <br>
                MAJLING
              </p>
            </div>
          </div>
        </div>
        <div class="large-7 cell">
          <p><span class="nk-authorname">DANIEL MAJLING</span> je dramaturg a píšuci autor. Vyštudoval dramaturgiu na VŠMU, kde momentálne pôsobí ako pedagóg. Dramaturga robí od roku 2014 v Slovenskom národnom divadle, predtým pôsobil v Divadle Andreja Bagara v Nitre. Okrem toho sa rád venuje literárnej tvorbe. V roku 2015 debutoval komiksom Rudo, ktorý vychádzal najprv online, v knižnej podobe ho neskôr vydalo české vydavateľstvo Labyrint. Toto leto vyšla jeho rozšírená verzia aj v slovenskom jazyku.</p> 
          <p>Daniel je tiež autorom knihy Ruzká klazika (2017), ktorá sa dostala medzi finalistov literárnej súťaže Anasoft Litera. V roku 2018 napísal a nakreslil komiksový román Zóna a momentálne pracuje na scenári komiksu Unesení.</p>
        </div>
      </div>
      <div class="cell grid-x grid-padding-x">
        <div class="large-5 cell">
          <div class="grid-x">
            <div class="small-5 medium-12 cell"><img src="{{root}}assets/img/portret8.jpg" alt="" class="nk-block-grid__thumbnail"></div>
            <div class="small-6 small-offset-1 medium-offset-0 medium-12 cell">
              <p class="text-center">
                <br>
                <span class="c-black">KRESLÍ</span><br>
                JOZEF <br>GĽABA
              </p>
            </div>
          </div>
          
        </div>
        <div class="large-7 cell">
          <p><span class="nk-authorname">JOZEF GĽABA</span> je ilustrátor, grafik a príležitostný maliar. Študuje na VŠVU v Bratislave na Katedre grafiky a iných médií. V roku 2018 absolvoval internú stáž v Laboratóriu ilustrácie. Počiatočným impulzom jeho tvorby bola estetika streetart a graffiti, ktoré ovplyvňovali jeho prácu počas začiatkov štúdia. V súčasnosti sa Jozef venuje najmä digitálnej ilustrácii a voľnej grafike, pričom jeho ťažiskovou technikou je sieťotlač, hĺbkotlač a linoryt. </p>
          <p>V rámci ilustrácie sa venuje tvorbe pre deti aj dospelých, a tiež produktovej ilustrácii. Jeho práce nájdete v sieti potravín Kraj, v detskom časopise Slniečko, alebo v ilustrovanom vydaní Denníka N, ktoré vyšlo v spolupráci s VŠVU v roku 2019. Jozef tvorí s humorom, rád používa slovné hračky a má zmysel pre detail a kompozíciu. V týchto dňoch sa naplno venuje komiksu Unesení.</p>
        </div>
      </div>
    {{>_supportbutton modifier="sectionbottom"}}
    </div>
  </div>
</section>