<footer id="partneri" class="footer grid-container">
  {{>_supportbutton}}
  <div class="footer__inner grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-12 cell text-center medium-text-left"><h1 class="c-03">Partneri</h1></div>       
    </div>

    <div class="grid-x grid-padding-x">
      <div class="medium-6 large-2 cell show-for-medium">
        <p>Sériu Nežný komiks vydáva</p>
      </div>
      <div class="medium-6 large-6 cell show-for-medium">
        <p>
          Tieto komiksy by nevznikli bez finančnej podpory našich partnerov. Sme&nbsp;im&nbsp;za&nbsp;to&nbsp;veľmi vďační. Téma slobody, demokracie a&nbsp;odvahy je&nbsp;pre nich rovnako dôležitá ako pre nás.
        </p>
      </div>
      <div class="medium-12 large-4 cell show-for-large">
        <p>
          Za mediálnu podporu a šírenie povedomia
          o&nbsp;nežnej revolúcii ďakujeme:
        </p>
      </div>
    </div>

    <div class="grid-x grid-padding-x">
      <div class="medium-6 large-2 cell">
        <p class="show-for-small-only">Sériu Nežný komiks vydáva</p>
        <ul class="nk-logolist">
          <li class="nk-logolist__item nk-logolist__item--full">
            <a href="http://ejpublishing.sk" class="nk-logolist__href">
              <img src="{{root}}assets/img/loga-1.png" alt="Logo" class="nk-logolist__logo">
            </a>
          </li>
        </ul>
      </div>
      <div class="medium-6 large-6 cell">
        <p class="show-for-small-only">
          Tieto komiksy by nevznikli bez finančnej podpory našich partnerov. Sme im za to veľmi vďační. Téma slobody, demokracie a odvahy je pre nich rovnako dôležitá ako pre nás.
        </p>
        <ul class="nk-logolist">
          <li class="nk-logolist__item">
            <a href="https://o2.sk/" class="nk-logolist__href">
              <img src="{{root}}assets/img/loga-2.png" alt="Logo" class="nk-logolist__logo">
            </a>
          </li>
          <li class="nk-logolist__item">
            <a href="http://slsp.sk" class="nk-logolist__href">
              <img src="{{root}}assets/img/loga-3.png" alt="Logo" class="nk-logolist__logo">
            </a>
          </li>
          <li class="nk-logolist__item">
            <a href="#" class="nk-logolist__href">
              <img src="{{root}}assets/img/loga-4.png" alt="Logo" class="nk-logolist__logo">
            </a>
          </li>
        </ul>
      </div>
      <div class="medium-12 large-4 cell">
        <p class="hide-for-large">
          Za mediálnu podporu a šírenie povedomia
          o nežnej revolúcii ďakujeme:
        </p>
        <ul class="nk-logolist">
          <li class="nk-logolist__item">
            <a href="#" class="nk-logolist__href">
              <img src="{{root}}assets/img/loga-5.png" alt="Logo" class="nk-logolist__logo">
            </a>
          </li>
          <li class="nk-logolist__item">
            <a href="#" class="nk-logolist__href">
              <img src="{{root}}assets/img/loga-6.png" alt="Logo" class="nk-logolist__logo">
            </a>
          </li>
          <li class="nk-logolist__item">
            <a href="#" class="nk-logolist__href">
              <img src="{{root}}assets/img/loga-7.png" alt="Logo" class="nk-logolist__logo">
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-x grid-padding-x">
      <div class="cell">
        <ul class="nk-hashtaglist">
          <li class="nk-hashtaglist__item"><a href="https://soda.o2.sk/o2/fer/tisice-slovakov-sa-dnes-pokusili-svojvolne-prekrocit-statnu-hranicu/" target="_blank">#slobodaniejesamozrejmost</a></li>
          <li class="nk-hashtaglist__item">#mamnato</li>
        </ul>
      </div>        
    </div>
    
  </div>
</footer>