<section id="4-pribehy" class="section section--color-02">
  <div class="section__inner grid-container grid-x grid-padding-x">
    <div class="medium-12 cell"><h1 class="">Štyri <br>príbehy</h1></div>
    {{>_supportbutton}}
  </div>
  <div class="nk-block-grid grid-container grid-x grid-padding-x medium-up-2">
    <div class="cell grid-x grid-padding-x">
      <div class="medium-5 cell">
        <img src="{{root}}assets/img/thumb-01.jpg" alt="" class="nk-block-grid__thumbnail">
      </div>
      <div class="medium-7 cell">
        <h2><span class="c-04">№1</span>  ČIERNA OSLAVA</h2>
        <p>Príbeh dvoch mladých zaľúbených ľudí, ktorí sa – každý po svojom – tiež zapoja do boja za slobodu. Čo sa odohralo v Bratislave 16. novembra 1989, deň pred najznámejším dátumom Nežnej revolúcie?</p>
        <p>
          <span class="c-04">MICHAL HVORECKÝ</span> <br>
          <span class="c-03">KLÁRA ŠTEFANOVIČOVÁ</span>
        </p>
      </div>
    </div>
    <div class="cell grid-x grid-padding-x">
      <div class="medium-5 cell">
        <img src="{{root}}assets/img/thumb-02.jpg" alt="" class="nk-block-grid__thumbnail">
      </div>
      <div class="medium-7 cell">
        <h2><span class="c-04">№2</span> BEŽNÁ</h2>
        <p>Ako vyzeral November '89 v bežnej rodine v malom meste? Čo vtedy trápilo najstaršiu dcéru a naopak, čo jej rodičov? A ako ďalej s miestnym divadlom? Zrušia ho?</p>
        <p>
          <span class="c-04">TEREZA OĽHOVÁ</span> <br>
          <span class="c-03">MÁRIA KRALOVIČ</span>
        </p>
      </div>
    </div>
    <div class="cell grid-x grid-padding-x">
      <div class="medium-5 cell">
        <img src="{{root}}assets/img/thumb-03.jpg" alt="" class="nk-block-grid__thumbnail">
      </div>
      <div class="medium-7 cell">
        <h2><span class="c-04">№3</span> PÉ-ER-DÉ</h2>
        <p>Mamine narodeniny, stratené kľúče, otravný malý sused a ľudia v uliciach sa správajú akosi zvláštne. Mladý muž nemá v ten deň najlepšiu náladu. Náhodou však nájde zázračnú bundu... A zázraky sa začnú diať.</p>
        <p>
          <span class="c-04">SOŇA BALÁŽOVÁ</span> <br>
          <span class="c-03">DÁVID MARCIN</span>
        </p>
      </div>
    </div>
    <div class="cell grid-x grid-padding-x">
      <div class="medium-5 cell">
        <img src="{{root}}assets/img/thumb-04.jpg" alt="" class="nk-block-grid__thumbnail">
      </div>
      <div class="medium-7 cell">
        <h2><span class="c-04">№4</span> UNESENÍ</h2>
        <p>Na dedine vzniká tichá panika, medzi ľuďmi sa rozšírilo, že miznú deti. Unášajú ich vraj čiernou sanitkou, ale nikto nevie kam a prečo. Má ich na svedomí starec žijúci za dedinou na samote? To preto tam bola polícia?</p>
        <p>
          <span class="c-04">DANIEL MAJLING</span> <br>
          <span class="c-03">JOZEF GĽABA</span>
        </p>
      </div>
    </div>
    {{>_supportbutton modifier="sectionbottom"}}
  </div>
</section>