<section id="4-pribehy" class="section section--color-black">
  <div class="section__inner grid-container grid-x grid-padding-x">
    <div class="medium-12 cell text-center medium-text-left"><h1 class="">Štyri <br>príbehy</h1></div>
    {{>_supportbutton}}
  </div>
  <div class="grid-container grid-x grid-padding-x">
    <div class="small-12 medium-6 cell grid-x grid-x--stretch">
      <div class="cell grid-x grid-padding-x">
        <div class="medium-12 large-5 cell">
          <img src="{{root}}assets/img/thumb-01.jpg" alt="" class="nk-block-grid__thumbnail">
        </div>
        <div class="medium-12 large-7 cell">
          <h2><span class="c-03">№1</span>  ČIERNA OSLAVA</h2>
          <p>Príbeh dvoch mladých zaľúbených ľudí, ktorí sa – každý po svojom – tiež zapoja do boja za slobodu. Čo sa odohralo v Bratislave 16. novembra 1989, deň pred najznámejším dátumom Nežnej revolúcie?</p>
          <p>
            <span class="c-link-white"><a href="#autor-michal-hvorecky" class="c-link-white" data-smooth-scroll>MICHAL HVORECKÝ</a></span> <br>
            <span class="c-link-white">KLÁRA ŠTEFANOVIČOVÁ</span>
          </p>
        </div>
      </div>
      <div class="cell grid-x grid-padding-x">
        <div class="medium-12 large-5 cell">
          <img src="{{root}}assets/img/thumb-02.jpg" alt="" class="nk-block-grid__thumbnail">
        </div>
        <div class="medium-12 large-7 cell">
          <h2><span class="c-03">№2</span> BEŽNÁ</h2>
          <p>Ako vyzeral November '89 v bežnej rodine v malom meste? Čo vtedy trápilo najstaršiu dcéru a naopak, čo jej rodičov? A ako ďalej s miestnym divadlom? Zrušia ho?</p>
          <p>
            <span class="c-link-white"><a href="#autor-tereza-olhova" class="c-link-white" data-smooth-scroll>TEREZA OĽHOVÁ</a></span> <br>
            <span class="c-link-white">MÁRIA KRALOVIČ</span>
          </p>
        </div>
      </div>
    </div>
    <div class="small-12 medium-6 cell grid-x grid-x--stretch">
      <div class="cell grid-x grid-padding-x">
        <div class="medium-12 large-5 cell">
          <img src="{{root}}assets/img/thumb-03.jpg" alt="" class="nk-block-grid__thumbnail">
        </div>
        <div class="medium-12 large-7 cell">
          <h2><span class="c-03">№3</span> PÉ-ER-DÉ</h2>
          <p>Mamine narodeniny, stratené kľúče, otravný malý sused a ľudia v uliciach sa správajú akosi zvláštne. Mladý muž nemá v ten deň najlepšiu náladu. Náhodou však nájde zázračnú bundu... A zázraky sa začnú diať.</p>
          <p>
            <span class="c-link-white"><a href="#autor-sona-balazova" class="c-link-white" data-smooth-scroll>SOŇA BALÁŽOVÁ</a></span> <br>
            <span class="c-link-white">DÁVID MARCIN</span>
          </p>
        </div>
      </div>
      <div class="cell grid-x grid-padding-x">
        <div class="medium-12 large-5 cell">
          <img src="{{root}}assets/img/thumb-04.jpg" alt="" class="nk-block-grid__thumbnail">
        </div>
        <div class="medium-12 large-7 cell">
          <h2><span class="c-03">№4</span> UNESENÍ</h2>
          <p>Na dedine vzniká tichá panika, medzi ľuďmi sa rozšírilo, že miznú deti. Unášajú ich vraj čiernou sanitkou, ale nikto nevie kam a prečo. Má ich na svedomí starec žijúci za dedinou na samote? To preto tam bola polícia?</p>
          <p>
            <span class="c-link-white"><a href="#autor-daniel-majling" class="c-link-white" data-smooth-scroll>DANIEL MAJLING</a></span> <br>
            <span class="c-link-white">JOZEF GĽABA</span>
          </p>
        </div>
      </div>
    </div>

    {{>_supportbutton modifier="sectionbottom"}}
    
  </div>
</section>