<header class="header {{classes}}">
  <div class="header__inner grid-container grid-x grid-padding-x">
    <div class="header__logo small-3 medium-2 large-1 cell">
      <!-- <a href="#top" data-smooth-scroll> -->
        <img src="{{root}}assets/img/nk89-logo-cb.svg" class="header__logo" alt="Logo Nezny komiks">
      <!-- </a> -->
    </div>
    <div class="header__menu header__menu--ope small-12 large-8 cell nk-menu-wrapper">
      <ul class="nk-menu">
        <li class="nk-menu__item"><a href="#4-pribehy" class="nk-menu__href" data-smooth-scroll>4 príbehy</a></li>
        <li class="nk-menu__item"><a href="#4-autorske-dvojice" class="nk-menu__href" data-smooth-scroll>4 autorské dvojice</a></li>
        <li class="nk-menu__item"><a href="#produkcia" class="nk-menu__href" data-smooth-scroll>Produkčný tím</a></li>
        <li class="nk-menu__item"><a href="#partneri" class="nk-menu__href" data-smooth-scroll>Partneri</a></li>
      </ul>
    </div>
    <div class="header__supportbutton small-7 medium-8 large-3 cell">
      {{>_supportbutton modifier="header"}}
    </div>
    <div class="small-2 cell show-for-small hide-for-large">
      <button class="nk-menutoggle js-menutoggle"><span>MENU</span></button>
    </div>
  </div>
</header>