<section class="section section--color-01">
  <div class="section__inner grid-container grid-x grid-padding-x intro">
    <div class="intro__title cell">
      <h1 class="main-title">
        <img src="{{root}}assets/img/nk89-logo-farba.svg" alt="Farebne logo Nezny komiks">
        <span>Nežný komiks '89</span>
      </h1>
    </div>
    <div class="intro__visual cell">
      <img src="{{root}}assets/img/nk89-balik.png" alt="">
    </div>
    <div class="intro__text cell">
      <p class=" text-center">
        SÉRIA KOMIKSOV O NEŽNEJ REVOLÚCII URČENÁ NAJMÄ PRE MLADÝCH ĽUDÍ, ALE ROVNAKO AJ PRE ICH RODIČOV ČI STARÝCH RODIČOV, KTORÍ BOLI V NOVEMBRI 1989 PRI TOM.
      </p>
      <p class=" text-center">
        Nežný komiks chce rozprúdiť medzi mladými ľuďmi diskusiu o súčasných dejinách. Nemá ambíciu nahradiť látku z učebníc, ani nepodáva dokonalý opis histórie. Naopak, ponúka príbehy. Príbehy, ktoré sa v nedávnej minulosti odohrali. Možno takto, možno trochu inak. Priestor na bádanie o tom, ako to vtedy bolo, ostáva otvorený.
      </p>
      <p class=" text-center">
        VYCHÁDZA K 30. VÝROČIU <br>
        NOVEMBRA 89.
      </p>
    </div>
  </div>
</section>

<section class="section section--color-01">
  <div class="section__inner grid-container grid-x grid-padding-x intro">
    <div class="small-12 cell">
      <div class="responsive-embed widescreen">
        <!-- <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/13571261?color=fff48f&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script> -->
      </div>
    </div>    
  </div>  
</section>