<section id="produkcia" class="section section--color-04">
  <div class="section__inner grid-container grid-x grid-padding-x">
    {{>_supportbutton}}
    <div class="medium-12 cell text-center medium-text-left"><h1 class="">Produkčný <br>tím</h1></div>
    <div class="medium-4 cell">
      <div class="nk-teammember">
        <img src="{{root}}assets/img/portret9.jpg" alt="Foto Jan Pucek" class="nk-teammember__profilepic">
        <h2 class="nk-teammember__title">Dramaturgia</h2>
        <div class="nk-teammember__content">
          <p>JÁN PÚČEK vyštudoval filmovú dramaturgiu a scenáristiku na Filmovej a televíznej fakulte VŠMU, kde tri roky pôsobil ako interný doktorand a dva roky ako odborný asistent. Na literárnej scéne je prítomný od roku 2012, kedy debutoval zbierkou poviedok Kameň v kameni (F. R. & G.), za ktorú dostal prémiu Ceny Ivana Kraska, Cenu Jána Johanidesa v kategórii do 35 rokov i Cenu Nadácie Tatra banky v kategórii mladý tvorca. </p>
          <p>V roku 2013 vydal zbierku poviedok Okná do polí a o dva roky neskôr román Uchom ihly. Medzi rokmi 2010–2016 bol členom redakčnej rady literárneho a kultúrneho časopisu Fragment. Od roku 2016 je Ján redaktorom vydavateľstva Absynt. V Denníku N pravidelne recenzuje slovenské a české knižné tituly a venuje sa aj autorskej publicistike. V roku 2018 vydal svoju štvrtú knihu Med pamäti.</p>
        </div>
      </div>
    </div>
    <div class="medium-4 cell">
      <div class="nk-teammember">
        <img src="{{root}}assets/img/portret10.jpg" alt="Foto Boris Melus" class="nk-teammember__profilepic">
        <h2 class="nk-teammember__title">Dizajn</h2>
        <div class="nk-teammember__content">
          <p>BORIS MELUŠ je grafický dizajnér a kultúrny manažér. Vyštudoval pražskú UMPRUM v ateliéri Grafického dizajnu a vizuálnej komunikácie, počas štúdia absolvoval stáž na bratislavskej VŠVU a na akadémii umení v Haagu. Venuje sa najmä dizajnu kníh, webu a vizuálnej komunikácii kultúrnych udalostí. Medzi jeho najznámejšie publikácie patrí fotografická kniha Obchodná, knihy Daniela Majlinga Ruzká klazika a Zóna i edícia kníh Ruda Slobodu, za ktorú v roku 2016 získal prvé miesto v Národnej cene za komunikačný dizajn.</p>
          <p>Práca na knižnej sérii Nežný komiks je momentálne jednou z mála, ktorá sa týka grafického dizajnu. Boris totiž posledné mesiace väčšinu času venuje Nadácii Cvernovka, ktorú spoluzakladal. Jej hlavným projektom je vznik a prevádzka kultúrneho a kreatívneho centra Nová Cvernovka.</p>
        </div>
      </div>
    </div>
    <div class="medium-4 cell">
      <div class="nk-teammember">
        <img src="{{root}}assets/img/portret11.jpg" alt="Foto Janka H. Hoffstadter" class="nk-teammember__profilepic">
        <h2 class="nk-teammember__title">Produkcia</h2>
        <div class="nk-teammember__content">
          <p>JANA H. HOFFSTÄDTER založila a vedie vydavateľstvo E.J. Publishing. Vyštudovala na Viedenskej univerzite politické vedy a pracovala v Denníku SME ako redaktorka zahraničného spravodajstva. Dnes sa venuje prekladu z nemeckého jazyka, autorskému písaniu a editovaniu. Donedávna tiež pracovala ako lektorka nemeckého jazyka so špecializáciou na vzdelávanie dospelých. </p>
          <p>Momentálne si od učenia dopriala voľno a naplno sa venuje vydavateľstvu. Jana je autorkou knižky pre deti Cesta na svet a pracuje na ďalších detských publikáciách. Občas prispieva do online magazínu Kurník.</p>
        </div>
      </div>
    </div>
    <div class="small-12 cell">
      <hr class="show-for-small-only">
      <p>Na konzultáciách ohľadom reálnych historických udalostí spolupracujeme s historikom <em>Martinom Mockom</em>.</p>
      <p>Korektúry má na starosti <em>Dana Brezňanová</em>.</p>
      <p>S fundraisingom nám pomáha <em>Zuzana Suchová</em>.</p>
    </div>
    {{>_supportbutton modifier="sectionbottom"}}
  </div>
</section>